.navegacion {
    background-color: rgb(8, 8, 8);

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                list-style-type: none;
                a{
                    color: #f6f6f6;
                    margin: 0 100px;
                    font-size: 1rem;
                    font-style: italic;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 0 grey;
                }
            }
        }
            
                
        
                @media(min-width:500px){
                    justify-content: space-around;
                    margin: 0px;
                    padding: 0px;
                }
                @media (min-width:768px){
                    ul{
                        list-style: none;
                        flex-direction: row;
                    }
                    
                    
                }
                @media (min-width:1024px){
                    
                }
            
}        


    .footer{
        background-image: linear-gradient(to right, green, white);
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: center;
                li{
                    display: inline-block;
                    a{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        font-size: 0;
                        
                    }
                    .ig{
                        background: url(../img/icons8-instagram-48.png) center/contain no-repeat;
                    }    
                        .fb{
                            background: url(../img/icons8-facebook-rodeado-de-círculo-48.png) center/contain no-repeat;
                        }
                    
                }  
            }
            @media (min-width:500px){
                a{
                    width: 30px;
                    height: 30px;
                }
            }
            @media (min-width:768px){
                a{
                    width: 65px;
                    height: 65px;
                }
                
            }
        } 
        
        
    
    


    header{
        background: url(../img/fondo.jpeg) center/cover no-repeat;
        min-height: 200px;
        padding-top: 40vh;
        text-align: center;
        @media (min-width:768px){
            min-height: 400px;
        }
      }
                  

      h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3rem;
        text-align: center;
        color: rgb(19, 51, 26);
        font-weight: bold;
        text-shadow: 2px 2px 0 black; /* SOMBREADO */
        margin: 0; 
        margin-top: -5px;
        margin-bottom: 20px;
      }
    
      h2{
        text-align: center;
        font-size: 1.5rem;
        text-shadow: 2px 2px 0 rgb(102, 105, 99);
        @media (min-width:500px){
            font-size: 20px;
        }
      }
    
      h3{
        text-align: center;
        padding: 10px;
        font-size: 1rem;
        color: rgb(56, 54, 54);
        @media (min-width:500px){
            font-size: 15px;
        }
      }
    
      
      h4{
        text-align: start;
        font-size: 15px;
        color: darkslategray;
        text-transform: uppercase;
        @media (min-width:768px){
            font-size: 20px;
        }
      }
    
      h5{
        text-align: start;
        font-size: 15px;
        color: darkslategray;
        @media (min-width:768px){
            font-size: 20px;
        }
      }

      .desc_contacto{
        padding: 40px 40px 40px 40px;
        margin-left: 80px;
      }

      .descripcion{
        font-size: 1rem;
        text-align: center;
        color: rgb(120, 155, 120);
        font-family: Arial, Helvetica, sans-serif;
        @media (min-width:500px){
            font-size: 2rem;
        }
      }
                 
      
     /** FORMULARIO **/
  *{box-sizing:border-box;}
  form{
    width:190px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:#ccc;
    @media (min-width:500px){
        width:200px;
        padding:20px;
    }
    @media (min-width:768px){
        width:300px;
      padding:30px;
    }
  }
  
  form label{
    width:32px;
    font-weight:bold;
    display:inline-block;
    @media (min-width:500px){
        width:50px;
        font-weight:bold;
    }
    @media (min-width:768px){
        width:70px;
    }
  }
  
  form input[type="text"],
  form input[type="email"]{
    width:150px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
  }
  
  form input[type="submit"]{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#000;
  } 
  
  form input[type="submit"]:hover{
    cursor:pointer;
  }
  
  textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;			
    margin:8px 0;
    resize:none;
    display:block;
  }
    

  .servi{
    border-radius: 20px;
    background-color: #fcf3f6;
    color: black;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    @media (min-width:768px){
        margin: 10px;
        padding: 25px;
    }
  }

  .servicios p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 1rem;
    color: darkslateblue;
    @media (min-width:768px){
        font-size: 1.5rem;
    }
  }

  section p{
    font-size: 15px;
    color: white;
    line-height: 25px;
    @media (min-width:500px){
        font-size: 20px;
        margin-top: 100px;
    }
  }

  .producto__imagen{
    width: 350px;
    height: 300px;
    border: 8px solid #1d28c7;
    margin-top: 15px;
    margin-left: 90px;
    @media (min-width:500px){
        width: 450px;
      height: 400px;
      margin-left: 150px;
    }
}

.contacto_grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 140px 140px 140px 140px;
    @media (min-width:768px){
        display: grid;
      justify-content: center;
      grid-template-columns: 180px 180px 180px 180px;
    }
    
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
    @media (min-width:768px){
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat (2, 1fr); 
        gap: 2rem;
    }
  }

  .grafico{
    background-repeat: no-repeat; 
    background-size: cover; 
    grid-column: 1 / 3;
}

.grafico--productos{
    grid-row: 2 / 3;
  }