/*mobile first  de 0px-500px*/
@import "generales";
@import "mediaq";

 
    .navegacion a:hover {    /* HOVER DISPARA EL EVENTO DE CUANDO PASO CON EL MOUSE POR ENCIMA DEL NOMBRE */
      color: rgb(166, 236, 52);
      transition: 0.5s;
     
    }
    
  
  /*mixin*/

  @mixin size ($width, $height){
    height: $height;
    width: $width;
  }

  .contacto-descripcion{
    @include size (auto, 70px);
    align-content: center;
    background-color: yellowgreen ;
  }
 
  .servicios{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5fr;
    width: 100%;
  }
  
  
  .servicios-descripcion p{
    font-style: italic;
    font-size: 1.5rem;
    align-content: center;
    color: rgb(12, 32, 12);
  }
  
  
  
  .imagen-fondo{
      width: 60%;
      height: 50%;
      margin-top: 20px;
      border-radius: 10px; 	
  }
  
  
  
  
  
  
  
 
  
  
  .nosotros-descripcion{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      color: green;
  }
  
  
  .producto{
      background-color: rgb(39, 53, 12);
      padding: 1rem;
  }
  
  
  
  .producto_nombre{
      font-size: 4rem;
      
  }
  
  .producto__precio{
     font-size: 2.8rem; 
     
  }
  
  .producto__nombre,
  .producto__precio {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin: 1rem 0;
      text-align: center;
      line-height: 1,2;
      color: rgb(83, 130, 168);
  }
  
  
  
   
  
   
  
    
   
  
  
   
    
   
    
    
    
    
  
  